html {
  height: 100%;
  overflow-y: scroll; }

body {
  font-family: 'Nunito', sans-serif;
  background: #003459;
  background: -webkit-radial-gradient(circle, #00d4ff 0%, #090979 84%, #020024 100%);
  background: radial-gradient(circle, #00d4ff 0%, #090979 84%, #020024 100%);
  overflow-x: hidden;
  height: 100%; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #00171f;
  text-align: center;
  min-width: 25rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px; }
  .container form {
    width: 100%; }
  .container h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 2.5rem 0px; }
  .container input[type="text"],
  .container input[type="password"] {
    background: none;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border: 0.15rem solid white;
    border-radius: 1.5rem;
    padding: 1rem 0.5rem;
    width: 50%;
    color: white;
    -webkit-transition: 0.25s;
    transition: 0.25s; }
    .container input[type="text"]:focus,
    .container input[type="password"]:focus {
      width: 90%;
      border-color: #ff9f1c; }
  .container input[type="submit"] {
    max-width: 30%;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 24px;
    padding: 14px 10px;
    width: 50%;
    color: white;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold; }
    .container input[type="submit"]:hover {
      background: none;
      display: block;
      margin: 40px auto;
      text-align: center;
      border-color: #ff9f1c;
      background: #ff9f1c;
      color: black; }
  .container div span {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 20px auto;
    cursor: pointer; }
    .container div span:hover {
      color: #ff9f1c;
      font-weight: 600;
      -webkit-transition: 0.25s;
      transition: 0.25s; }

@media (max-width: 576px) {
  .container {
    min-width: 100vw;
    min-height: 100vh;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 0px; }
    .container input[type="text"],
    .container input[type="password"] {
      width: 60%; }
    .container input[type="submit"] {
      max-width: 50%; } }

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    border: none; }
    .container input[type="text"],
    .container input[type="password"] {
      width: 60%; }
    .container input[type="submit"] {
      max-width: 40%; } }

@media (min-width: 769px) {
  .container {
    max-width: 400px;
    max-height: 600px; }
    .container input[type="text"],
    .container input[type="password"] {
      width: 60%; }
    .container input[type="submit"] {
      max-width: 40%; } }

@media (max-height: 500px) {
  .container {
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); } }

/*# sourceMappingURL=styles.css.map */
